<!DOCTYPE html>
<html>
<head>
<title>Concept Visualization</title>
</head>
<script>
    // get elements for popup
    const popupbtn = document.getElementById('popupbtn');
    const popup = document.getElementById('popup-wrapper');
    const popupclose = document.getElementById('popup-close');
    // popup

    function openPopup() {
        const popup = document.getElementById("popup");
        popup.style.display = "block";
    }

    function closePopup() {
        const popup = document.getElementById("popup");
        popup.style.display = "none";
    }

</script>
<body>
    hsuaidhas
    <div id ="popup" style="border: 5px solid greenyellow">
        <button onclick="closePopup()">Close</button>
        <div id ="popup-close">X</div>
        <div id ="popup-content">
            <h1>This is the popup</h1>
        </div>
    </div>
</body>

</html>
